<nav class="navbar navbar-default pi-navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pi-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/farm">Wisdimo.Admin</a>
  </div>

  <div class="collapse navbar-collapse" id="pi-navbar">
    <ul class="nav navbar-nav">
      <li><a href="#/dashboard">Dashboard</a></li>
      <li><a href="#/accounts">Accounts</a></li>
      <li><a href="#/questions">Questions</a></li>
    </ul> 
  </div>
</nav><!-- /.navbar -->